$grey-button-color: #f3f3f3;
$red-button-color: #dc3545;
$green-button-color: #218739;
$blue-button-color: #096efb;

@mixin button-highlight($color) {
  &:focus-visible,
  &:hover {
    background-color: darken($color, 10%);
    cursor: pointer;
  }

  &:active {
    background-color: darken($color, 15%);
    transform: scale(0.96);
  }
}

.cv {
  min-height: 29.7cm;
  max-width: 100%;
  width: 21cm;

  &__section {
    overflow-wrap: anywhere;
    page-break-inside: avoid;
  }
}

.collapsible__children {
  p {
    margin: 0;
  }

  .section-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 16px 16px;
  }

  .section {
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: space-between;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .button-container {
    display: flex;
    gap: 8px;

    &--editing {
      align-self: end;
    }
  }

  .control-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 16px 16px;
  }
}

.button {
  border: 0;
  border-radius: 4px;
  padding: 8px 12px;
  transition: 0.2s transform ease-in-out;

  &--pdf,
  &--load,
  &--clear {
    color: #fff;
    padding: 14px 12px;
  }

  &--edit,
  &--delete {
    color: #fff;
    display: grid;
    height: 30px;
    place-content: center;
    width: 30px;
  }

  &--cancel,
  &--save {
    color: #fff;
    width: 80px;
  }

  &--load,
  &--edit,
  &--save {
    background-color: $blue-button-color;
    @include button-highlight($blue-button-color);
  }

  &--clear,
  &--delete,
  &--cancel {
    background-color: $red-button-color;
    @include button-highlight($red-button-color);
  }

  &--add {
    align-items: center;
    background-color: $grey-button-color;
    border-radius: 12px;
    display: flex;
    gap: 4px;
    justify-content: center;
    padding: 10px 16px;
    @include button-highlight($grey-button-color);
  }

  &--pdf {
    background-color: $green-button-color;
    width: 100%;
    @include button-highlight($green-button-color);
  }
}

@media print {
  .hamburger {
    display: none;
  }

  .cv {
    box-shadow: none;
    height: 100%;
    padding: 16px;
    width: 100%;
  }
}
