.collapsible {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;

  &__button {
    align-items: center;
    background-color: initial;
    border: 0;
    color: #000;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    width: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  &__heading {
    font-size: 1.3rem;
    margin: 0;
  }

  &__icon {
    margin-right: 8px;
    width: 30px;
  }

  &__collapse {
    transition: transform 0.15s ease-in-out;
  }

  &--expanded {
    .collapsible__collapse {
      transform: rotate(-180deg);
    }
  }
}
