.cv-heading {
  align-items: baseline;
  display: flex;
  font-size: 1.3rem;
  margin: 0 0 16px;
  width: 100%;

  &::after {
    border-top: 1.5px solid #000;
    content: '';
    flex: 1;
    margin-left: 4px;
  }

  span {
    color: var(--accent-color);
  }
}
