@font-face {
  font-family: 'Roboto';
  src: url(./assets/Roboto-Regular.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(./assets/Roboto-Thin.ttf) format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url(./assets/Roboto-Bold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(./assets/SourceSans3-Regular.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(./assets/SourceSans3-Light.ttf) format('truetype');
  font-weight: 300;
}

:root {
  --accent-color: #3689fc;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(to bottom right, #ff9da6, #1e90ff) fixed;
  font-family: 'Roboto', sans-serif;
  margin: auto;
  max-width: 1200px;
  min-height: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

#root {
  display: flex;
  gap: 24px;
  padding: 32px;
}
